@import 'styles/_variables.sass'

.login
  background-color: $light-black
  display: flex
  justify-content: center
  align-items: center
  height: 90%
.card
  width: 40%
  h1
    color: $white
    background-color: $purple
    padding: 1rem
    text-align: center
.form
  background-color: $white
  display: flex
  justify-content: center
  align-items: center
.formContainer
  width: 80%
  text-align: center
  padding: 3.5rem 0rem
  input
    font-size: 1rem
    width: 100%
    height: 1.5rem
    margin: 1.5rem 0rem
    border: none
    padding-bottom: 0.5rem
    border-bottom: 1px solid #e1e1e1
    &.error
      border-bottom: 1px solid $red
    &:focus
      outline: none
  ::placeholder
    color: $light-gray
  button
    font-size: 1rem
    background-color: transparent
    border: none
    border-bottom: 2px solid $purple
    padding-bottom: 0.5rem
    margin-top: 1.5rem
    cursor: pointer
    font-family: inherit
  p.error
    color: $red
  .reqError
    margin: 1.5rem 0rem
    color: $red
  a
    text-decoration: none
    color: $purple
    font-size: 0.9rem
