.container
  display: flex
  width: 75%
  margin: 0 auto
.picture
  text-align: center
  margin-right: 3rem
  width: 50%
  img
    margin: 0 auto

@media(max-width:1100px)
  .container
    display: block
  .picture
    margin-bottom: 2rem
    margin-right: 0
    width: unset